* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: #d9dcd6;
}


header {
    padding: 20px;
    font-family:  sans-serif;
    background-color: rgb(46, 46, 158);
    color: #4bdbc1;
    height: 24vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    background-color: #4bdbc1;
    color: white;
    width: 20vw;
    padding: 5px;
    text-align: center;
    border: solid;
}

header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', sans-serif;
    font-size: 20px;

}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: #4bdbc1;
}
header nav ul li a {
    color: #4bdbc1;
}



.Parent {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.About-me {
    flex-basis: 20%;
    border-right: 5px solid grey;
    margin-right: 20px; 
  
   }
.about-me-content {
    flex-basis: 66%;
    text-align: right;
}

.Work {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex-basis: 20%;
    border-right: 5px solid grey;
    margin-right: 20px;

}
.column-2 {
    flex-basis: 33%;
}
.Big-image {
    background-image: url("../stock\ image.jpeg");
    background-size: cover;
    height: 300px;
    width: 600px;
    align-items: flex-end;
    flex-basis: 66%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4bdbc1;
}
   


.image1 {
    background-image: url("../stock\ image.jpeg");
    background-size: cover;
    height: 150px;
    width: 300px;
    flex-basis: 33%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4bdbc1;
}
  

.image2 {
    background-image: url("../stock\ image.jpeg");
    background-size: cover;
    height: 150px;
    width: 300px;
    flex-basis: 33%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4bdbc1;
}

.image3 {
    background-image: url("../stock\ image.jpeg");
    background-size: cover;
    height: 150px;
    width: 300px;
    flex-basis: 33%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4bdbc1;
}

.image4 {
    background-image: url("../stock\ image.jpeg");
    background-size: cover;
    height: 150px;
    width: 300px;
    flex-basis: 33%;
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #4bdbc1;
}
.contact-me {

}
.contact-me-h3 {

}
.contact-links {
    display: inline-block;
    justify-content: flex-end;

    
    

}

